<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SMANBI Library</title>
    <link rel="stylesheet" href="../../public/css/output.css">
    
</head>
<body class="bg-default bg-no-repeat h-fit bg-cover">
    <section class=" w-screen h-full overflow-hidden relative px-3 py-6">
        <div class="rounded-r-md grid place-content-center place-items-start gap-5 fixed top-0 left-0 text-white bg-blue-800 h-screen w-1/4 px-4 py-12 -translate-x-full ease-in-out transition-all" id="drawer">
            <div class="w-32 h-32 px-3 py-2 pt-2 mx-auto bg-slate-50 rounded-full shadow-md">
                <a href="index.html"><img src="../../public/images/logo.png" class="w-20 m-auto" alt=""></a>
            </div>
            <div class="grid">
                <h1 class="font-extrabold text-4xl text-start">Buku</h1>
                <a href=""><span class="text-3xl">List Buku</span></a>
                <a href=""><span class="text-3xl">Tambah Buku</span></a>
                <a href=""><span class="text-3xl">Update Buku</span></a>
                <a href=""><span class="text-3xl">Peminjaman Buku</span></a>
            </div>
            <div class="grid">
                <h1 class="font-extrabold text-4xl text-start">Anggota</h1>
                <a href=""><span class="text-3xl">List Anggota</span></a>
                <a href=""><span class="text-3xl">Tambah Anggota</span></a>
            </div>
        </div>
        <div class="fixed top-1/2 -translate-y-1/2 left-0 w-full ease-in-out transition-all" id="divDrawer">
            <div class="bg-blue-800 py-6 px-1/2 rounded-tr-3xl rounded-br-3xl w-fit" id="btnDrawer">
                <img id="arrow" src="../../public/images/arrow.svg" class="ease-in-out transition-all" alt="">
            </div>
        </div>

        <div class="flex gap-4">
            <a href=""><div class="w-fit p-4 bg-green-600 shadow-md flex gap-2 rounded-lg">
                <img src="../../public/images/add.svg" class="w-12 h-12 m-auto" alt="">
                <span class="m-auto font-bold text-lg">Tambah Anggota</span>
            </div></a>
            <a href=""><div class="w-fit p-4 bg-blue-400 shadow-md flex gap-2 rounded-lg">
                <img src="../../public/images/pinjam.svg" class="w-12 h-12 m-auto" alt="">
                <span class="m-auto font-bold text-lg">Update Anggota</span>
            </div></a>
        </div>

        <div class="w-full h-fit  my-3 rounded-md bg-yellow-300 py-4 ps-1 pe-8">
            <h1 class="text-3xl mx-5 font-bold">List Anggota</h1>
            <div class="bg-slate-50 overflow-y-scroll mt-3 w-full h-full overflow-hidden rounded-lg">
                <table class="myTable ">
                    <thead class="tableHead">
                        <tr>
                            <th scope="col" class="px-6 py-3">
                                ID
                            </th>
                            <th scope="col" class="px-6 py-3">
                                Nama
                            </th>
                            <th scope="col" class="px-6 py-3">
                                Waktu
                            </th>
                            <th scope="col" class="px-6 py-3">
                                Aktifitas
                            </th>
                            <th scope="col" class="px-6 py-3">
                                STATUS
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="tableRow">
                            <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap">
                                Apple MacBook Pro 17"
                            </th>
                            <td class="px-6 py-4">
                                Silver
                            </td>
                            <td class="px-6 py-4">
                                Laptop
                            </td>
                            <td class="px-6 py-4">
                                $2999
                            </td>
                            <td class="px-6 py-4">
                                <a href="#" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">Edit</a>
                            </td>
                        </tr>
                        <tr class="tableRow">
                            <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap">
                                Apple MacBook Pro 17"
                            </th>
                            <td class="px-6 py-4">
                                Silver
                            </td>
                            <td class="px-6 py-4">
                                Laptop
                            </td>
                            <td class="px-6 py-4">
                                $2999
                            </td>
                            <td class="px-6 py-4">
                                <a href="#" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">Edit</a>
                            </td>
                        </tr>
                        <tr class="tableRow">
                            <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap">
                                Apple MacBook Pro 17"
                            </th>
                            <td class="px-6 py-4">
                                Silver
                            </td>
                            <td class="px-6 py-4">
                                Laptop
                            </td>
                            <td class="px-6 py-4">
                                $2999
                            </td>
                            <td class="px-6 py-4">
                                <a href="#" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">Edit</a>
                            </td>
                        </tr>
                        <tr class="tableRow">
                            <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap">
                                Apple MacBook Pro 17"
                            </th>
                            <td class="px-6 py-4">
                                Silver
                            </td>
                            <td class="px-6 py-4">
                                Laptop
                            </td>
                            <td class="px-6 py-4">
                                $2999
                            </td>
                            <td class="px-6 py-4">
                                <a href="#" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">Edit</a>
                            </td>
                        </tr>
                        <tr class="tableRow">
                            <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap">
                                Apple MacBook Pro 17"
                            </th>
                            <td class="px-6 py-4">
                                Silver
                            </td>
                            <td class="px-6 py-4">
                                Laptop
                            </td>
                            <td class="px-6 py-4">
                                $2999
                            </td>
                            <td class="px-6 py-4">
                                <a href="#" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">Edit</a>
                            </td>
                        </tr>
                        <tr class="tableRow">
                            <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap">
                                Apple MacBook Pro 17"
                            </th>
                            <td class="px-6 py-4">
                                Silver
                            </td>
                            <td class="px-6 py-4">
                                Laptop
                            </td>
                            <td class="px-6 py-4">
                                $2999
                            </td>
                            <td class="px-6 py-4">
                                <a href="#" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">Edit</a>
                            </td>
                        </tr>
                        <tr class="tableRow">
                            <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap">
                                Apple MacBook Pro 17"
                            </th>
                            <td class="px-6 py-4">
                                Silver
                            </td>
                            <td class="px-6 py-4">
                                Laptop
                            </td>
                            <td class="px-6 py-4">
                                $2999
                            </td>
                            <td class="px-6 py-4">
                                <a href="#" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">Edit</a>
                            </td>
                        </tr>
                        <tr class="tableRow">
                            <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap">
                                Apple MacBook Pro 17"
                            </th>
                            <td class="px-6 py-4">
                                Silver
                            </td>
                            <td class="px-6 py-4">
                                Laptop
                            </td>
                            <td class="px-6 py-4">
                                $2999
                            </td>
                            <td class="px-6 py-4">
                                <a href="#" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">Edit</a>
                            </td>
                        </tr>
                        <tr class="tableRow">
                            <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap">
                                Apple MacBook Pro 17"
                            </th>
                            <td class="px-6 py-4">
                                Silver
                            </td>
                            <td class="px-6 py-4">
                                Laptop
                            </td>
                            <td class="px-6 py-4">
                                $2999
                            </td>
                            <td class="px-6 py-4">
                                <a href="#" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">Edit</a>
                            </td>
                        </tr>
                        
                    </tbody>
                </table>
            </div>
        </div>
    </section>

    <script>
    const btnDrawer = document.getElementById('btnDrawer');
    const drawer = document.getElementById('drawer');
    const arrow = document.getElementById('arrow');
    const divDrawer = document.getElementById('divDrawer');

    btnDrawer.addEventListener('click', () => {
    drawer.classList.toggle('-translate-x-full');
    arrow.classList.toggle('rotate-180');
    arrow.classList.toggle('-translate-x-2');
    divDrawer.classList.toggle('translate-x-1/4');
    });
    </script>
</body>
</html>