<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SMANBI Library</title>
    <link rel="stylesheet" href="../../public/css/output.css">
    
</head>
<body class="bg-default bg-no-repeat h-screen bg-cover">
    <div class="flex flex-col py-6 px-8 place-content-center place-items-center ">
        <div class="grid gap-2">
            <h1 class="text-6xl text-white font-bold">Insert</h1>
            <span class="w-1/4 py-0.5 rounded-full bg-slate-50"></span>
        </div>
        <div class="w-full my-auto py-6 flex gap-8 max-w-lg bg-gray-900 bg-opacity-70 rounded-md shadow mt-10">
            <!-- <div class="w-1/5 bg-slate-600 items-start">a</div> -->
            <form action="insert.php" method="POST">
                <div class="w-full ps-10 pe-10" id="formBuku1">
                    <div class="grid gap-2">
                        <label for="judul" class="text-white">Judul</label>
                        <input type="text" name="judul" id="judul" class="w-full rounded-lg bg-slate-50 dark:bg-gray-700 dark:text-white px-4 py-2" required>
                        <label for="pengarang" class="text-white">Pengarang</label>
                        <input type="text" name="pengarang" id="pengarang" class="w-full rounded-lg bg-slate-50 dark:bg-gray-700 dark:text-white px-4 py-2">
                        <label for="penerbit" class="text-white">Penerbit</label>
                        <input type="text" name="penerbit" id="penerbit" class="w-full rounded-lg bg-slate-50 dark:bg-gray-700 dark:text-white px-4 py-2" required>
                    </div>
                    <div class="flex gap-2">
                        <div class="w-1/3">
                            <label for="isbn" class="text-white">ISBN</label>
                            <input type="text" name="isbn" id="isbn" class="w-full rounded-lg bg-slate-50 dark:bg-gray-700 dark:text-white px-4 py-2" >
                        </div>
                        <div class="w-1/3">
                            <label for="edisi" class="text-white">Edisi</label>
                            <input type="text" name="edisi" id="edisi" class="w-full rounded-lg bg-slate-50 dark:bg-gray-700 dark:text-white px-4 py-2" required>
                        </div>
                        <div class="w-1/3">
                            <label for="tahun" class="text-white">Tahun Terbit</label>
                            <input type="number" name="tahun" id="tahun" class="w-full rounded-lg bg-slate-50 dark:bg-gray-700 dark:text-white px-4 py-2" >
                        </div>
                    </div>
                    <div class="flex gap-2 mt-5">
                        <a href="./" class="w-full"><p class="bg-red-600 w-full rounded-lg px-4 py-2 text-center text-white">Cancel</p></a>
                        <span class="w-full bg-green-500 rounded-lg"><button class="bg-green-500 w-full rounded-lg px-4 py-2 text-white" id="nextForm">Next</button></span>
                    </div>
                </div>
                <div class="w-full ps-10 pe-10 hidden" id="formBuku2">
                    
                    <label for="kategori" class="labelForm mt-5">Kategori</label>
                    <select name="kelas" id="aktSiswa" class="bg-gray-50 border border-gray-300 text-gray-900 text-lg rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                        <option selected class="text-gray-500 hidden">Kelas / Kategori buku</option>
                        <option value="1">Buku Siswa (TextBook)</option>
                        <option value="2">Buku Guru (TextBook)</option>
                        <option value="3">PANDIK (Non-TextBook)</option>
                        <option value="4">Pengayaan (Non-TextBook)</option>
                        <option value="5">Referensi (Non-TextBook)</option>
                    </select>
                
                    <div class="flex gap-2">
                        <div class="w-1/2">
                            <label for="eksemplar" class="text-white">Eksemplar</label>
                            <input type="number" value="1" name="eksemplar" id="eksemplar" class="w-full rounded-lg bg-slate-50 dark:bg-gray-700 dark:text-white px-4 py-2" required>
                        </div>
                        <div class="w-1/2">
                            <label for="sumber" class="text-white">Sumber</label>
                            <select type="text" name="sumber" id="sumber" class="w-full rounded-lg bg-slate-50 dark:bg-gray-700 dark:text-white px-4 py-2">
                                <option value="1">Dana Bos</option>
                                <option value="2">Donasi</option>
                                <option value="3">-</option>
                            </select>
                        </div>
                        
                    </div>
                    <label for="" class="text-white">Ukuran</label>
                    <div class="grid grid-cols-2 gap-2 w-full mt-2">
                        <div class="flex items-center ps-4 border bg-slate-50 dark:bg-gray-700 border-gray-200 rounded-lg dark:border-gray-700">
                            <input checked id="radio1" type="radio" value="A4" name="ukuran" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
                            <label for="radio1" class="w-full py-2 ms-2 text-lg font-medium text-gray-900 dark:text-gray-300">A4</label>
                        </div>
                        <div class="flex items-center ps-4 border bg-slate-50 dark:bg-gray-700 border-gray-200 rounded-lg dark:border-gray-700">
                            <input id="radio2" type="radio" value="B5" name="ukuran" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
                            <label for="radio2" class="w-full py-2 ms-2 text-lg font-medium text-gray-900 dark:text-gray-300">B5</label>
                        </div>
                    </div>
                    <div class="flex gap-2 mt-5">
                        <a class="w-full"><p class="bg-red-600 w-full rounded-lg px-4 py-2 text-center text-white" id="prevForm">Prev</p></a>
                        <span class="w-full bg-green-500 rounded-lg"><button class="bg-green-500 w-full rounded-lg px-4 py-2 text-white" type="submit">Submit</button></span>
                    </div>
                </div>
            </form>
        </div> 
    </div>
    <script>
        const nextForm = document.getElementById('nextForm');
        const prevForm = document.getElementById('prevForm');
        const formBuku1 = document.getElementById('formBuku1');
        const formBuku2 = document.getElementById('formBuku2');

        nextForm.addEventListener('click', () => {
            formBuku1.classList.add('hidden');
            formBuku2.classList.remove('hidden');
        });

        prevForm.addEventListener('click', () => {
            formBuku1.classList.remove('hidden');
            formBuku2.classList.add('hidden');
        });
    </script>
</body>
</html>